.day-view {
    width: 90%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    padding: 50px;
    color: var(--green);
  }
  
  .back-button {
    align-self: flex-start;
    margin-bottom: 20px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--green);
    cursor: pointer;
  }
  
  .day-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 500px;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  /* Left side tasks panel */
  .tasks-panel {
    width: 45%;
    background-color: var(--background2);
    padding: 20px;
    border-radius: 10px;
    border: none;
    opacity: 0;
    animation: slideInLeft 0.5s ease-in-out forwards;
  }

  .task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }

  .task-input input {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: var(--green);
  }

  .task-input button {
    background-color: var(--background2);
    border: none;
    padding: 5px;
    color: var(--green);
    cursor: pointer;
    font-size: 2rem;
    border-radius: 5px;
  }

  /* Task List */
  .task-list {
    list-style: none;
    padding: 0;
  }

  .task-list li {
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid var(--green);
    color: var(--green);
  }

  .delete-task {
    background: none;
    border: none;
    color: red;
    font-size: 1rem;
    cursor: pointer;
  }

  .delete-task:hover {
    color: darkred;
  }

  
  /* Right side journal panel */
  .journal-panel {
    width: 45%;
    background-color: var(--background2);
    padding: 20px;
    border-radius: 10px;
    border: none;
    opacity: 0;
    animation: slideInRight 0.5s ease-in-out forwards;
  }
  
  .journal-panel textarea {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    margin-left: 15px;
    width: 90%;
    height: 350px;
    background: transparent;
    border: none;
    color: var(--green);
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Animations */
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  