:root {
  --background: #414141;
  --green: #60fd7c;
  --green2: #1aff44;
}

body {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  height: 100%;
  padding: 0;
  background-color: var(--background);
  color: var(--green);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.main-content {
  flex: 1;
}

.header {
  margin: auto;
  padding: 15px;
}

.header h1 {
  font-size: 12rem;
  margin: 20px;
  color: var(--green);
  animation: fadeIn 1.5s ease-in-out;
}

.login-button {
  background-color: var(--green);
  color: #414141;
  padding: 20px 60px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: var(--green2);
}

.footer {
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  background-color: #333;
  color: #ccc;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 10rem;
  }

  .login-button {
    padding: 15px 40px;
    font-size: 1.2rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
